@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body {
  font-family: 'Montserrat', sans-serif;
  background-image: url('image.jpg');
}


.input {
  width: 100%;
  display: flex;
  justify-content: center;
}

#cityName {
  border-radius: 10px;
  width: 55%;
  border: 3px solid #233538;
  border-right: none;
  padding: 5px;
  height: 20px;
  outline: none;
  color: #b3b6b4;
}

#cityName:focus {
  outline: none;
}

#search-button {
  /* margin-left: 3px;
  border: solid rgb(210, 210, 210);
  border-radius: 4px; */
  width: 5%;
  height: 36px;
  border: 1px solid rgba(37, 57, 77);
  background-color: rgba(37, 57, 77, 0.5);
  text-align: center;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

#search-button:hover {
  background-color: rgb(40, 61, 82);
  cursor: pointer;
  color: white;
}


.display {
  border: solid rgb(12, 35, 56);
  border-radius: 10px;
  padding: 15px;
  padding-bottom: 17px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: rgba(37, 57, 77, 0.5);
  color: rgb(255, 255, 255);
}

.display-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.weather-container {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}


.weather-details {
  border: solid rgb(12, 35, 56);
  border-radius: 10px;
  padding: 15px;
  width: 60%;
  height: 50%;
  background-color: rgba(37, 57, 77, 0.5);
  color: rgb(255, 255, 255);
}



.detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 20px;
}

#toggle-forecast {
  margin-left: 3px;
  height: 25px;
  border: solid rgb(210, 210, 210);
  background-color: rgba(37, 57, 77, 0.5);
  color: white;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px; /
}

#toggle-forecast:hover {
  background-color: rgba(73, 111, 149, 0.5);
  cursor: pointer;
  color: white;
}




.forecast-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.forecast {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: solid rgb(12, 35, 56);
  border-radius: 10px;
  width: 60%;
  height: 20vh;
  padding: 15px;
  overflow: auto;
  margin-top: 5px;
  margin-bottom: 3px;
  background-color: rgba(37, 57, 77, 0.5);
  color: rgb(255, 255, 255);
}

.hour div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.hour {
  margin-top: 20px;
}

.hour div img, #forecast-info div img {
  margin-bottom: 3px;
}

#forecast-info div {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}

#forecast-info {
  margin-top: 20px;
}

#temp {
  font-size: 30px;
}

.feels-like span {
  font-size: 15px;
}
